@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont,
    Helvetica Neue, Helvetica, Arial, sans-serif !important;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-[#f0f0f0];
  @apply text-[#333333];
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  white-space: pre-wrap;
}

img {
  max-width: 100%;
  height: auto;
}
